<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dongduk.dalc05.aah.dao.mybatis.mapper.MemberMapper">

	<insert id="insertMember" parameterType="dongduk.dalc05.aah.domain.Member">
	
		
		Insert Into Member
		(MEMBER_CODE, MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PHONE, MEMBER_BIRTH,
		MEMBER_EMAIL, MEMBER_SEX, MEMBER_IMAGE)
		VALUES
		(0, #{member_id}, #{member_pw}, #{member_name}, #{member_nickName}, #{member_phone}, #{member_birth}, 
		#{member_email}, #{member_sex}, #{member_image})
	</insert>

	
	<update id="deleteMember" parameterType="Integer">
		UPDATE Member
			SET ISDELETED = 'Y'
			WHERE
				MEMBERID = #{memberId}
	</update>
	

<!-- 	<select id="getPassword" parameterType="String" resultType="String"> -->
<!-- 		Select PASSWD -->
<!-- 			FROM Member -->
<!-- 			WHERE -->
<!-- 				id = #{username} AND ISDELETED != 'Y' -->
<!--   	</select> -->

<!-- 	<select id="getMemerCode" parameterType="String" resultType="String"> -->
<!-- 		Select ACCOUNT -->
<!-- 			FROM Member -->
<!-- 			WHERE -->
<!-- 				id = #{username} -->
<!-- 	  </select> -->

<!-- 	<select id="getMemberNickName" parameterType="String" resultType="String"> -->
<!-- 		Select MEMBERID -->
<!-- 			FROM Member -->
<!-- 			WHERE -->
<!-- 				id = #{username} -->
<!-- 	</select> -->




</mapper>