<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dongduk.dalc05.aah.dao.mybatis.mapper.MemberMapper">

	<insert id="insertMember" parameterType="dongduk.dalc05.aah.domain.Member">
	
		
		Insert Into Member
		(MEMBER_CODE, MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PHONE, MEMBER_BIRTH,
		MEMBER_EMAIL, MEMBER_SEX, MEMBER_IMAGE)
		VALUES
		(0, #{member_id}, #{member_pw}, #{member_name}, #{member_nickName}, #{member_phone}, #{member_birth}, 
		#{member_email}, #{member_sex}, #{member_image})
	</insert>


	
	
	<select id="getPassword" parameterType="String" resultType="String">
		Select member_pw
		FROM Member
		WHERE member_id = #{member_id}
  	</select>

	<select id="getMemberCode" parameterType="String" resultType="Integer">
		Select member_code
		FROM Member
		WHERE member_id = #{member_id}
	  </select>

	<select id="getMemberNickName" parameterType="String" resultType="String">
		Select member_nickName
		FROM Member
		WHERE member_id = #{member_id}
	</select>







</mapper>