<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dongduk.dalc05.aah.dao.mybatis.mapper.MemberMapper">

	<!-- 가입 -->
	<insert id="insertMember" parameterType="dongduk.dalc05.aah.domain.Member">	
		Insert Into Member
		(MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PHONE, 
		MEMBER_BIRTH, MEMBER_SEX, MEMBER_IMAGE, sick_code, member_allergy)
		VALUES
		(#{member_id}, #{member_pw}, #{member_name}, #{member_nickName}, #{member_phone}, 
		#{member_birth}, #{member_sex}, #{member_image}, #{sick_code}, #{member_allergy})
	</insert>
	
	<!-- 정보 업데이트 -->
	<update id="updateMember" parameterType="dongduk.dalc05.aah.domain.Member">
		UPDATE Member
		SET MEMBER_PW = #{member_pw}, MEMBER_NICKNAME = #{member_nickName}, MEMBER_PHONE = #{member_phone}, 
		MEMBER_SEX = #{member_sex}, MEMBER_IMAGE = #{member_image}, sick_code = #{sick_code}, member_allergy = #{member_allergy}
		WHERE member_code = #{member_code}
	</update>

	<!-- 아이디 중복확인 -->
	<select id="checkId" parameterType="String" resultType="dongduk.dalc05.aah.domain.Member">
		Select *
		FROM Member
		WHERE member_id = #{member_id}
  	</select>
  	
  	<!-- 닉네임 중복확인 -->
	<select id="checkNick" parameterType="String" resultType="dongduk.dalc05.aah.domain.Member">
		Select *
		FROM Member
		WHERE member_nickName = #{member_nickName}
  	</select>
  	
  	<!-- 탈퇴 -->
	<delete id="deleteMember" parameterType="Integer">
		delete from member
		WHERE MEMBER_code = #{member_code}
	</delete>

	<!-- ID로 member_code 불러오기 -->
	<select id="getMemberCode" parameterType="String" resultType="Integer">
		Select member_code
		FROM Member
		WHERE member_id = #{member_id}
	</select>

	<!-- ID로 nickName 불러오기  -->
	<select id="getMemberNickName" parameterType="String" resultType="String">
		Select member_nickName
		FROM Member
		WHERE member_id = #{member_id}
	</select>
	
	<!-- ID에 맞는 올바른 패스워드인지 확인 -->
	<select id="getPassword" parameterType="String" resultType="String">
		Select member_pw
		FROM Member
		WHERE member_id = #{member_id}
  	</select>
  	
  	<!-- member_code로 모든정보 불러오기 -->	
  	<select id="getMemberInfo" parameterType="Integer" resultType="dongduk.dalc05.aah.domain.Member">
		Select *
		FROM Member
		WHERE member_code = #{member_code}
  	</select>
</mapper>