<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dongduk.dalc05.aah.dao.mybatis.mapper.RecipeMapper">
	
	<!-- 레시피 메인페이지 상단 인기레시피들 16위까지 (조회수) -->
	<select id="getTop16" resultType="dongduk.dalc05.aah.domain.Recipe">
		Select *
		FROM recipe
		ORDER BY recipe_hits DESC
		limit 16;
	</select>
	
	<!-- 모든레시피 불러오기 -->
	<select id="getAllRecipes" resultType="dongduk.dalc05.aah.domain.Recipe">
		Select *
		FROM recipe	
	</select>
	
	
	<select id="getIngredients" parameterType="Integer" resultType="dongduk.dalc05.aah.domain.Ingredient">
		Select *
		FROM ingredient
		where sick_code = #{sick_code}
	</select>
	
	<!-- 재료가 들어가는 레시피 가져오기  -->
	<select id="getRecipes"  parameterType="String" resultType="dongduk.dalc05.aah.domain.Recipe">
		Select *
		FROM recipe
		where recipe_code IN ( Select recipe_code
                       	   	   FROM rUse
                               WHERE rUse_name = #{ingredient_name})
	</select>

	<!-- 코드에 해당하는 레시피 가져오기  -->
	<select id="getRecipeFromCode"  parameterType="Integer" resultType="dongduk.dalc05.aah.domain.Recipe">
		Select *
		FROM recipe
		where recipe_code = #{recipe_code}
	</select>

	<!-- 레시피 조회 (조회수증가) -->
	<update id="hitsCount" parameterType="Integer">
		UPDATE recipe
		SET recipe_HITS = recipe_hits + 1
		WHERE recipe_code = #{recipe_code}
    </update>
   

	<select id="getRecipeByKeyword" parameterType="String" resultType="dongduk.dalc05.aah.domain.Recipe">
		SELECT *
		FROM recipe
		WHERE recipe_title LIKE CONCAT('%',#{keyword},'%')
	</select> 

	<!-- 레시피에 사용된 재료들 -->
	<select id="getUses" parameterType="Integer" resultType="dongduk.dalc05.aah.domain.rUse">
		SELECT *
		FROM rUse
		WHERE recipe_code = #{recipe_code}
	</select>
	
	<!-- 레시피 과정  -->
	<select id="getOrders" parameterType="Integer" resultType="dongduk.dalc05.aah.domain.rOrder">
		SELECT *
		FROM rOrder
		WHERE recipe_code = #{recipe_code}
	</select>
	
	

</mapper>