<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dongduk.dalc05.aah.dao.mybatis.mapper.SickMapper">
	
	<select id="getSickCode" resultType="Integer">
		Select sick_code
		FROM sick
		where sick_name = #{sick_name}
	</select>
	
</mapper>