<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dongduk.dalc05.aah.dao.mybatis.mapper.SickMapper">
	
	<!-- sick_code로 질병이름 불러오기  -->
	<select id="getSickCode" resultType="Integer">
		Select sick_code
		FROM sick
		where sick_name = #{sick_name}
	</select>
	
	<!-- sick_name으로 질병코드 불러오기 -->
	<select id="getSickName" resultType="String">
		Select sick_name
		FROM sick
		where sick_code = #{sick_code}
	</select>
	
	<!-- 전체 불러오기 -->
	<select id="getSickList" resultType="dongduk.dalc05.aah.domain.Sick">
		Select *
		FROM Sick
	</select>
	
</mapper>