
body{
   margin: 0;
   font-family: 'Arial';
   font-size: 13px;
}

a{
   text-decoration: none;
   color: black;
}

.dalcbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   padding: 5px 10px;
   font-size: 13px;
   color: black;
}

.dalc_img table{
   display: flex;
   align-items: center;
   justify-content: center;
}

.dalc_menu{
   display: flex;
   list-style: none;
   justify-content: center;
   padding-left: 0;
}

.dalc_menu li{
   padding: 8px 10px;
}

.dalc_menu li:hover{
   background-color: #FDE6FF;
   border-radius: 4px;
}

.disease_btn{
	width: 55px;
	height: 35px;
	text-align:center;
	font-size: 6px;
	font-weight: bold;
	border-radius: 85%;
	border-width: 1px 1px;
	border-color: #E5CCFF #E5CCFF;
	background-color: white;
}

button.disease_btn:hover{
	outline: none;
	background-color: #E5CCFF;
}