@charset "UTF-8";

.swiper-containter{
	height: 200px;
}

.swiper-slide{
	margin: 23px 0 0 0; 
	text-align: center;
	display: flex;				/* 내용 중앙정렬 */
	align-items: center;		/* 위아래 기준 중앙정렬 */
	justify-content: center;	/* 좌우 기준 중앙정렬 */
}

.swiper-slide img{
	max-width: 100%;	
	max-height: 99%;

}