body{
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
}

/*濡쒓퀬 �씠誘몄� */
/*�뙣�뵫- �븞履� �뿬諛�, 留덉쭊- 諛붽묑�뿬諛� �꽕�젙 (�쐞�삤�븘�쇊)*/
.navbar-brand{
	padding-left: 30px;
}

/*寃��깋�뼱瑜� �엯�젰�븯�꽭�슂.*/

/* 濡쒓렇�씤 */
.collapse navbar-collapse{
	position: absolute;
	left: 20px;
}

.container-fluid{
	color: black;
}

.navbar{
	background: #FFFFFF;
	color: #000000;
}

.nav-link active{
	color: black;
}